 .item {
    height: 32vh;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

 .item .story-image {
    height: 100%;
    width: 100%;
    position: relative;
}

 .item .story-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}

 .item .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.473);
    z-index: 1;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

 .item .overlay .person .profile {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid var(--border);
}

 .item .overlay h4 {
    color: var(--white);
    font-weight: 500;
    font-size: 0.88rem;
    width: 80%;
    margin-left: 5px;
}

 .item .overlay .person .profile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

 .item .overlay.first {
    padding: 0;
}

 .item .overlay .create {
    height: 40%;
    width: 100%;
    background-color: #164077;
    position: absolute;
    bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .item .overlay .create span {
    text-align: center;
    color: var(--white);
    display: block;
    height: 100%;
    font-size: 0.99rem;
    padding-top: 20px;
}

 .item .overlay .create .icon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--border);
    position: absolute;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .item .overlay .create .icon img {
    height: 50%;
    width: 50%;
    margin: auto
}
